<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
</head>
<body>
  <h1>Submitted Information</h1>
  <p>Name: <%= user_info.name %></p>
  <p>Location: <%= user_info.location %></p>
  <p>Language: <%= user_info.language %></p>
  <p>comment: <%= user_info.comment %></p>
</body>
</html>
